<div *ngIf="TradeModel.length !== 0">
	<div class="col-md-12">
	  <table class="table table-bordered">
		<thead>
		  <tr>
			<th scope="col">Trade Id</th>
			<th scope="col">Stock Ticker</th>
			<th scope="col">Price</th>
			<th scope="col">Volume</th>
            <th scope="col">Buy or Sell</th>
            <th scope="col">Status Code</th>
            <th scope="col">Time Stamp</th>
            <th scope="col">Action</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let trade of TradeModel">
			<td>{{trade.id}}</td>
            <td>{{trade.ticker}}</td>
            <td>{{trade.price}}</td>
            <td>{{trade.volume}}</td>
            <td>{{trade.buy_or_sell}}</td>
            <td>{{trade.status_code}}</td>
            <td>{{trade.trade_time}}</td>
			<td>
			  <a [routerLink]="['/trade-update/', trade.id]" class="btn btn-primary btn-sm float-right">Update</a>&nbsp;
			  <a [routerLink]="" (click)="deleteTrade(trade.id)" class="btn btn-danger btn-sm float-right">Delete</a>
			</td>
		  </tr>
		</tbody>
	  </table>
	</div>
</div>