<button class="btn btn-outline-primary" routerLink="/trade-list">List Trade</button>

<div class="col-md-12">
	<h3 class="mb-3 text-center">Add Trade</h3>

	<div class="form-group row">
	  <label class="control-label col-md-12">Stock Ticker</label>
	  <input type="text" [(ngModel)]="tradeDetails.ticker" class="form-control">
	</div>

	<div class="form-group row">
	  <label class="control-label col-md-12">Price</label>
	  <input type="text" [(ngModel)]="tradeDetails.price" class="form-control">
	</div>

    <div class="form-group row">
	  <label class="control-label col-md-12">Volume</label>
	  <input type="text" [(ngModel)]="tradeDetails.volume" class="form-control">
	</div>

	<div class="form-group row">
	  <label class="control-label col-md-12">Buy or Sell</label>
	  <input type="text" [(ngModel)]="tradeDetails.buy_or_sell" class="form-control">
	</div>


	<div class="form-group">
	  <button class="btn btn-success btn-lg btn-block" (click)="addTrade()">Add Transaction</button>
	</div>
</div>